// Base
@use './base/_base';

// Components
@use './components/HomeCarousel';
@use './components/HomeBanner';
@use './components/ProductScreen';
@use './components/Scroolbar';


body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
