**/node_modules/

.env
.env.local
.env.production.local
.env.development.local

package-lock.json
build/
dist/
.vite/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?